.btnHover {
    -fx-background-color: #a786b0;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: "black";
    -fx-border-radius: 15 15 15 15;
}

.btnHover:hover {
    -fx-background-color: #c0a4c9;
    -fx-background-radius: 15 15 15 15;
    -fx-border-color: "black";
    -fx-border-radius: 15 15 15 15;
}

.vboxBorder{
    -fx-border-radius: 15 15 15 15;
    -fx-border-color: "black";
}